<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Post#<%= postId%></title>
    <link rel="stylesheet" type="text/css" href="/css/post.css">
    <link rel="icon" href="/png/favicon.png">
</head>
<body>
    <h2><%= title %></h2>
    <p>Author: <%= author %></p>
    <p>--</p>
    <pre class="msg"><%= message %></pre>
    <p>Comments: <%= comments %></p>
    <p>Date: <%= date %></p>
    <hr></hr>
    <a href = "http://127.0.0.1:3000/list/1"><button>Back Posts List</button></a>
</body>
</html>