<head>
    <meta charset="utf-8">
    <title>post</title>
</head>
<body>
    <h2><%= title %></h2>
    <p>Author: <%= author %></p>
    <p>Message: <%= message %></p>
    <p>Comments: <%= comments %></p>
    <p>Date: <%= date %></p>
    <hr></hr>
    <a href = "http://127.0.0.1:3000/post"><button>All Post</button></a>
</body>